.recherche {
    height: 295px;
    width: 100%;
    background-color: #00c389;
    background: -webkit-linear-gradient(left, #1bc48a , #1bc4c3);
    background: -o-linear-gradient(right, #1bc48a, #1bc4c3);
    background: -moz-linear-gradient(right, #1bc48a, #1bc4c3);
    background: linear-gradient(to right, #1bc48a , #1bc4c3);
    margin-top: 9px;
    float: left;
}
.containerr {
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 960px;
}
.recherche h2 {
    font-family: 'vag', 'open Sans';
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 90px;
    text-transform: uppercase;
    font-weight: bold;
}
.bloc_search {
    height: 68px;
    width: 805px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 15px;
    vertical-align: middle;
    margin-left: 72px;
    margin-right: auto;
    display: inherit;
    position: absolute;
    
}
.bloc_search_ombre {
    height: 75px;
    width: 805px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
    margin-top: 25px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
    z-index: -1;
}
.bloc_search form {
    position: relative;
}
.form_search_controller {
    margin-right: 5px;
    display: inline-block;
}
.form_search_controller input {
    height: 42px;
    width: 187px;
    border-radius: 3px;
    border: 2px solid #e5eef7;
    background-color: #fff;
    color: #52747d;
    font-size: 13px;
    outline: none;
    padding-left: 5px;
}
.form_search_controller select {
    height: 1px;
    width: 380px;
    border-radius: 3px;
    border: 2px solid #e5eef7;
    background-color: #fff;
    color: #52747d;
    font-size: 13px;
    outline: none;
    -webkit-appearance: none;
    padding-left: 10px;
    /* background-image: url(./select.png); */
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 15px;
}
.form_search_controller .select2-container {
    width: 380px!important;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
.form_search_controller .select2-container--default .select2-selection--single {
    height: 42px!important;
    width: 380px!important;
    border-radius: 3px!important;
    border: 2px solid #e5eef7!important;
    background-color: #fff!important;
    color: #52747d!important;
    font-size: 13px!important;
    outline: none!important;
    padding-left: 5px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit!important;
    line-height: 38px!important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 75px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #52747d!important;
    font: 400 13.3333px Arial!important;
}
.form_search_controller .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
} 
.submit_search {
    height: 42px;
    width: 191px;
    border-radius: 3px;
    border: 2px solid #00c389;
    background-color: #00c389;
    color: #fff;
    font-size: 14px;
    outline: none;
    font-family: 'gotham', open Sans;
    padding: 12px 12px 13px 12px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}
.form_search_controller .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit!important;
    line-height: 38px!important;
}
.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051
}
